<!DOCTYPE html>
<html th:replace="~{layout_admin :: layout(~{::title}, ~{::link}, ~{::body}, ~{::script})}"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Admin|Docente</title>
<link rel="stylesheet" >
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title title-card-admin">DOCENTES/CURSO
							<a th:href="@{'/admin/docente-curso/crear'}" class="btn-crear">Crear</a>
						</h5>
						<div class="show">
							<div th:if="${mensaje}" class="alert alert-success alert-dismissable" role="alert" th:text="${mensaje}"></div>
							<table class="table table-sm">
								<thead class="card-header">
									<tr>
										<th class="text-center	" style="width: 60px;" scope="col">#</th>
										<th scope="col">Docente</th>
										<th scope="col">Curso</th>
										
									</tr>
								</thead>
								<tbody class="card-body">
									<tr th:each="docenteCurso, iteration: ${docenteCursos}">
										<th class="text-center" style="width: 60px;"
											th:text="${iteration.index}+1" scope="row">.</th>
										<td th:text="${docenteCurso.docente.usuario.apellidoPaterno}+' '+${docenteCurso.docente.usuario.apellidoMaterno}+', '+${docenteCurso.docente.usuario.nombres}"></td>
										<td th:text="${docenteCurso.curso.nombre}"></td>
										
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script>
$(".docente-curso").addClass( "active" );
</script>
</html>