<!DOCTYPE html>
<html
	th:replace="~{layout_admin :: layout(~{::title}, ~{::link}, ~{::body}, ~{::script})}"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Admin|Docente</title>
<link rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="card">
					<div class="card-body">
						<div class="container">
							<div class="row" >
								<div class="col-sm-3">
									<h5 class="card-title title-card-admin">DOCENTES</h5>
								</div>
								<form th:action="@{/admin/docente/buscar/}+${codigo}"  method="GET" class="full-width col-sm-8" style="width: 100%; display: flex;">
									<label class="col-sm-3 label-form">Codigo de docente:</label>
									<div class="col-sm-7">
										<div class="form-group">
											<input  type="text" name="codigo"  class="form-control input-form"
												placeholder="Ingresar el codigo de usuario">
										</div>
									</div>
									<div class="col-sm-2">
										<button class="btn-buscar">Buscar</button>
									</div>
								</form>
								<div class="col-sm-1">
									<a th:href="@{'/admin/docente/crear'}" class="btn-crear">CREAR</a>
								</div>
							</div>
						</div>

						<div class="show">
							
							<table class="table table-sm">
								<thead class="card-header">
									<tr>
										<th class="text-center	" style="width: 60px;" scope="col">#</th>
										<th scope="col">Apellidos y nombres</th>
										<th class="text-center" style="width: 120px;" scope="col">Codigo</th>
										<th class="text-center" style="width: 120px;" scope="col">Estado</th>
										<th class="text-center" style="width: 120px;" scope="col">Ver</th>
									</tr>
								</thead>
								<tbody class="card-body">
									<tr th:each="docenteBusqueda, iteration : ${DocentesBusqueda}">
										<th class="text-center" style="width: 60px;"
											th:text="${iteration.index}+1"  scope="row">.</th>
										<td
											th:text="${docenteBusqueda.usuario.apellidoPaterno} +' '+ ${docenteBusqueda.usuario.apellidoMaterno} +', '+${docenteBusqueda.usuario.nombres}"></td>
										<td class="text-center" th:text="${docenteBusqueda.usuario.usuario}"
											style="width: 120px;"></td>
										<td class="text-center" th:text="${docenteBusqueda.usuario.estado} ? 'Disponible' : 'No disponible'" style="width: 120px;"></td>
										<th class="text-center" style="width: 120px;" scope="col"><a
											th:href="@{'/admin/docente/' + ${docenteBusqueda.id}}"><i
												class="fas fa-eye"></i></a></th>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script>
$(".docente").addClass( "active" );
</script>
</html>