<!DOCTYPE html>
<html
	th:replace="~{layout_admin :: layout(~{::title}, ~{::link}, ~{::body}, ~{::script})}"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="language" content="es">
<title>Docente | Crear</title>
<link rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="card">
					<div class="card-body">
						<div th:if="${mensaje}"
							class="alert alert-danger alert-dismissable" role="alert"
							th:text="${mensaje}"></div>
						<h5 class="card-title title-card-admin">CREAR DOCENTE</h5>
						<form th:action="@{/admin/docente/save}" th:object="${usuario}"
							method="post" class="full-width" style="width: 100%;">
							<div class="container">
								<div class="row">
									<label class="col-sm-2 label-form"># de documento:</label>
									<div class="col-sm-4">
										<div class="form-group">
											<input type="text" class="form-control input-form"
												th:field="*{numeroDocumento}"
												placeholder="Ingresar # de documento">
										</div>
									</div>
									<label class="col-sm-2 label-form">Nombres:</label>
									<div class="col-sm-4">
										<div class="form-group">
											<input type="text" class="form-control input-form"
												th:field="*{nombres}" placeholder="Ingresar Nombres" size="15">
										</div>
									</div>
									<label class="col-sm-2 label-form">Apellido Paterno:</label>
									<div class="col-sm-4">
										<div class="form-group">
											<input type="text" class="form-control input-form"
												th:field="*{apellidoPaterno}"
												placeholder="Ingresar Apellido Paterno" size="30">
										</div>
									</div>
									<label class="col-sm-2 label-form">Apellido Materno:</label>
									<div class="col-sm-4">
										<div class="form-group">
											<input type="text" class="form-control input-form"
												th:field="*{apellidoMaterno}"
												placeholder="Ingresar Apellido Materno" size="30">
										</div>
									</div>
									<div class="col-sm-2"></div>
									<div class="col-sm-4">
										<div class="form-group">
											<button type="submit" class="btn-save">Crear</button>
											<a th:href="@{'/admin/docente'}" class="btn-cancel">Cancelar</a>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script type="text/javascript">
$(".docente").addClass( "active" );
</script>
</html>