<!DOCTYPE html>
<html
	th:replace="~{layout_admin :: layout(~{::title}, ~{::link}, ~{::body}, ~{::script})}"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Admin|Docente</title>
<link rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="card">
					<div class="card-body">
						<div class="container">
							<div class="row">
								<div class="col-sm-12">
									<h5 class="card-title title-card-admin" th:text="'MATRÍCULA: ' + ${alumnoBuscado.usuario.apellidoPaterno}+' '+${alumnoBuscado.usuario.apellidoMaterno}+', '+${alumnoBuscado.usuario.nombres}"></h5>
								</div>
								<form th:action="@{/admin/matricula/seleccionar/}+${id}"
									method="GET" class="full-width col-sm-12"
									style="width: 100%; display: flex;">
									<label class="col-sm-3 label-form">Seleccionar alumno:</label>
									<div class="col-sm-8">
										<div class="form-group">
											<select class="form-control input-form chosen-select" name="id"
												data-placeholder="Seleccionar alumno" required>
												<option value="">Seleccionar un alumno</option>
												<option th:each="alumno: ${alumnos}"
													th:value="${alumno.id}" th:if="${alumno.matricula}!=null"
													th:text="${alumno.usuario.apellidoPaterno}+' '+${alumno.usuario.apellidoMaterno}+', '+${alumno.usuario.nombres}" />
											</select>
										</div>
									</div>
									<div class="col-sm-1">
										<button class="btn-buscar">Buscar</button>
									</div>
								</form>
							</div>
						</div>
						<div class="show">
							<div th:if="${mensaje}"
								class="alert alert-success alert-dismissable" role="alert"
								th:text="${mensaje}"></div>
							<div th:if="${mensaje2}"
								class="alert alert-success alert-dismissable" role="alert"
								th:text="${mensaje2}"></div>
							<table class="table table-sm">
								<thead class="card-header">
									<tr>
										<th scope="col" style="width: 120px;" class="text-center">#</th>
										<th scope="col">Nombre del curso</th>
										<th scope="col">Codigo del curso</th>
									</tr>
								</thead>
								<tbody class="card-body">
									<tr th:each="detalleMatricula, iteration: ${detalleMatriculas}">
										<th class="text-center" style="width: 120px;" scope="col" th:text="${iteration.index}+1"></th>
										<td th:text="${detalleMatricula.docenteCurso.curso.nombre}"></td>
										<td th:text="${detalleMatricula.docenteCurso.curso.codigo}"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script>
$(".matricula-alumno-ver").addClass( "active" );
$(".chosen-select").chosen();
</script>
</html>